header{

}

.logo-web{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #124E66;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4%;
    margin: 5px;
}

.navBar a{
    float: left;
    color: #D3D9D4;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-size: 20px;
}

.navBar a:hover{
    color: #eff4f0;
}

.navBar a.active {
    color: #748D92;
}

.navBar > *{
    margin: 12px;
}

.loginBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 27%;
    margin: 5px;
}

#login-Home{
    border: 1px solid #D3D9D4;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    text-decoration: none;
    color: #D3D9D4;
    margin: 5px;
}

#sebagaiPerusahaan{
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: #D3D9D4;
    margin: 5px;
}

#login-Home:hover{
    background-color: #748D92;
}

#sebagaiPerusahaan:hover{
    color: #eff4f0;
}

.breadcrumb li + li:before {
    content: " > ";
    padding: 0 8px;
    color: #6c757d;
}

.breadcrumb {
    list-style: none;
    display: flex;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 5px;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb a {
    text-decoration: underline;
    color: #124E66;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #748D92;
}

#dtactive{
    color: #748D92;
}

.detailContent1{
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin-left: 30%;
}

.detailContent1 .rating{
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

.rating-bar{
    padding-top: 1%;
    text-decoration: none;
    color: black;
}

.detailContent1, img{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.info-lengkap{
    margin-top: 2.5%;
    font-size: 15px;
    text-decoration: none;
}

#heartRating{
    height: auto;
    margin: -4px 5px;
    display: inline-flex;
}

#ulasan{
    text-decoration: underline;
    color: gray;
}

#placeHolder{
    height: auto;
    margin: -4px 0px;
    display: inline-flex;
    padding-right: 2px;
}

#jobdesk{
    height: auto;
    margin: -4px 0px;
    display: inline-flex;
    padding-right: 2px;
}

#jenis{
    height: auto;
    margin: -4px 0px;
    display: inline-flex;
    padding-right: 2px;
}

#gaji{
    height: auto;
    margin: -4px 0px;
    display: inline-flex;
    padding-right: 2px;
}

#posted{
    font-size: 15px;
    color: gray;
    margin-top: 2.5%;
    padding-bottom: 15px;
}


#simpanBtnHome{
    background-color: white;
    color: #3498DB;
    padding: 12px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

#simpanBtnHome:hover{
    background-color: #45a8eb;
    color: white;
}

#ajukanLamaranBtnHome{
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

#ajukanLamaranBtnHome:hover{
    background-color: #45a8eb;
}

tr{
    display: flex;
    gap: 20px;
    align-items: stretch;
}

.detailPerusahaan1{
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin-left: 10%;
}

.detailPerusahaan1 .ratingPerusahaan{
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

.detailPerusahaan1, img{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.infoPerusahaan{
    margin-top: 2.5%;
    font-size: 15px;
    text-decoration: none;
}

#namaPerusahaan{
    height: auto;
    margin: -4px 0px;
    display: inline-flex;
    padding-right: 2px;
}

#pegawai{
    height: auto;
    margin: -4px 0px;
    display: inline-flex;
    padding-right: 2px;
}

#selengkapnyaBtnPerusahaan{
    background-color: white;
    color: gray;
    padding: 12px;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

#selengkapnyaBtnPerusahaan:hover{
    background-color: gray;
    color: white;
}

footer{
    background-color: #191919;
    color: white;
}