header{
    position: sticky;
    top: 0px;
}

.logo-web{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #124E66;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4%;
    margin: 5px;
}

.navBar a{
    float: left;
    color: #D3D9D4;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-size: 20px;
}

.navBar a:hover{
    color: #eff4f0;
}

.navBar a.active {
    color: #748D92;
}

.navBar > *{
    margin: 12px;
}

.loginBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 27%;
    margin: 5px;
}

#login-Home{
    border: 1px solid #D3D9D4;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    text-decoration: none;
    color: #D3D9D4;
    margin: 5px;
}

#sebagaiPerusahaan{
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: #D3D9D4;
    margin: 5px;
}

#login-Home:hover{
    background-color: #748D92;
}

#sebagaiPerusahaan:hover{
    color: #eff4f0;
}

#login-Home:hover{
    background-color: #748D92;
}

#sebagaiPerusahaan:hover{
    color: #eff4f0;
}

.breadcrumb {
    list-style: none;
    display: flex;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 5px;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb a {
    text-decoration: underline;
    color: #748D92;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: None;
    color: #748D92;
}

.searchBar{
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-top: 2.5%;
}

.searchBar > *{
    margin: 0.5%;
}

#searchLowongan{
    width: 25%;
    font-size: 18px;
    padding: 11px;
    border: 2px solid black;
    border-radius: 10px;
}

.dropdown-klasifikasi {
    width: 30%;
    height: 46px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
    color: grey;
}

.dropdown-klasifikasi {
    outline: none;
    border-color: #124E66; 
}

.dropdown-jenis {
    width: 30%;
    height: 46px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
    color: grey;
}

.dropdown-jenis {
    outline: none;
    border-color: #124E66; 
}

.dropbtn-jenisPekerjaan {
    width: 30%;
    font-size: 18px;
    padding: 11px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

#hasilPencarian{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: -5px;
}

#filterId{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: right;
    margin-left: 87.5%;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    border: none solid;
    border-radius: 10px;
    cursor: pointer;

}

#filterId:hover{
    color: #676767;
}

.content1{
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    max-width: 100%;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: auto;
    margin-bottom: 1%;
}

.content-box1{
    margin-top: 1.75%;
    margin-left: 1.75%;
}

.content-box1 h2{
    font-size: 25px;
    margin-top: -0.5px;
    margin-left: 0.5%;
}

.content-box1 p{
    margin-top: -15px;
    margin-left: 0.5%;
    font-size: 18px;
}

#simpanBtnHome{
    background-color: white;
    color: #3498DB;
    padding: 12px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

#simpanBtnHome:hover{
    background-color: #45a8eb;
}

#selengkapnyaBtnHome{
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    text-decoration: none;
}

#selengkapnyaBtnHome:hover{
    background-color: #45a8eb;
}

#infoTgl{
    font-size: 15px;
    color: gray;
}

.content2{
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    max-width: 100%;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: auto;
    margin-bottom: 1%
}

.content-box2{
    margin-top: 1.75%;
    margin-left: 1.75%;
}

.content-box2 h2{
    font-size: 25px;
    margin-top: -0.5px;
    margin-left: 0.5%;
}

.content-box2 p{
    margin-top: -15px;
    margin-left: 0.5%;
    font-size: 18px;
}

#simpanBtnHome{
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

#simpanBtnHome:hover{
    background-color: #45a8eb;
}

#selengkapnyaBtnHome{
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    text-decoration: none;
}

#selengkapnyaBtnHome:hover{
    background-color: #45a8eb;
}

.content3{
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    max-width: 100%;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: auto;
    margin-bottom: 1%
}

.content-box3{
    margin-top: 1.75%;
    margin-left: 1.75%;
}

.content-box3 h2{
    font-size: 25px;
    margin-top: -0.5px;
    margin-left: 0.5%;
}

.content-box3 p{
    margin-top: -15px;
    margin-left: 0.5%;
    font-size: 18px;
}

#simpanBtnHome{
    background-color: white;
    color: #3498DB;
    padding: 12px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

#simpanBtnHome:hover{
    background-color: #45a8eb;
    color: white;
}

#selengkapnyaBtnHome{
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    text-decoration: none;
}

#selengkapnyaBtnHome:hover{
    background-color: #45a8eb;
}

.content4{
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    max-width: 100%;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: auto;
    margin-bottom: 1%
}

.content-box4{
    margin-top: 1.75%;
    margin-left: 1.75%;
}

.content-box4 h2{
    font-size: 25px;
    margin-top: -0.5px;
    margin-left: 0.5%;
}

.content-box4 p{
    margin-top: -15px;
    margin-left: 0.5%;
    font-size: 18px;
}

#simpanBtnHome{
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

#simpanBtnHome:hover{
    background-color: #45a8eb;
}

#selengkapnyaBtnHome{
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    text-decoration: none;
}

#selengkapnyaBtnHome:hover{
    background-color: #45a8eb;
}

.content5{
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    max-width: 100%;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: auto;
    margin-bottom: 1%
}

.content-box5{
    margin-top: 1.75%;
    margin-left: 1.75%;
}

.content-box5 h2{
    font-size: 25px;
    margin-top: -0.5px;
    margin-left: 0.5%;
}

.content-box5 p{
    margin-top: -15px;
    margin-left: 0.5%;
    font-size: 18px;
}

#simpanBtnHome{
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

#simpanBtnHome:hover{
    background-color: #45a8eb;
}

#selengkapnyaBtnHome{
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    text-decoration: none;
}

#selengkapnyaBtnHome:hover{
    background-color: #45a8eb;
}

.content6{
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    max-width: 100%;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: auto;
    margin-bottom: 1%
}

.content-box6{
    margin-top: 1.75%;
    margin-left: 1.75%;
}

.content-box6 h2{
    font-size: 25px;
    margin-top: -0.5px;
    margin-left: 0.5%;
}

.content-box6 p{
    margin-top: -15px;
    margin-left: 0.5%;
    font-size: 18px;
}

#simpanBtnHome{
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

#simpanBtnHome:hover{
    background-color: #45a8eb;
}

#selengkapnyaBtnHome{
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    text-decoration: none;
}

#selengkapnyaBtnHome:hover{
    background-color: #45a8eb;
}

.footer {
    background-color: white;
    padding: 15px 20px;
    border-top: 1px solid #ddd;
    font-size: 14px;
    overflow: auto;
}

.footer-kotak {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    
}

.footer-logo {
    float: right;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-kelompok {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-kelompok a {
    text-decoration: none;
    color: #007bff;
}

.footer-kelompok a:hover {
    text-decoration: underline;
}